@model BikeBazar.Models.ViewModels.BikeModelVM
@using BikeBazar.Extensions
@{
    ViewData["Title"] = "Create";
}
<br />
<h2 class="text-info">Add Make of vehicle</h2>

<form action="Create" method="post">
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Makes"></label>
        </div>
        <div class="col-4">
            @*<select asp-for="BikeModel.MakeId" asp-items="Model.CSelectListItem(Model.Makes)" class="form-control"></select>*@
            <select asp-for="BikeModel.MakeId" asp-items="Model.Makes.ToSelectListItem()" class="form-control"></select>
        </div>
    </div>
    <div class="form-group row">

        <div class="col-2">
            <label asp-for="BikeModel.Name"></label>
        </div>
        <div class="col-4">
            <input asp-for="BikeModel.Name" class="form-control" />
        </div>
    </div>
    <br />

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Create" />
        <a asp-action="Index" class="btn btn-success">Back</a>
    </div>
</form>
